/* Agent - contact */
.mh-agent-contact {
  font-size: $font-size-xs;
  line-height: 24px;
  width: 100%;
  @include clearfix();
}

.mh-agent-contact__element {
  margin-bottom: 12px;
  @include clearfix();
  @include text-truncate();
  i {
    margin: 0;
    width: 24px;
    padding-left: 2px;
    font-size: $font-size-s;
    position: relative;
    top: 2px;
    display: inline-block;
  }
  a {
    color: #222;
    &:hover {
      color: #222;
    }
  }
}