/* 404 */
.mh-404 {
  height: 600px;
  display: table;
  width: 100%;
  padding: 12px;
}

.mh-404__content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h1.mh-404__title {
  font-size: 90px;
  margin-bottom: 0;
  text-align: center;
}

.mh-404__text {
  font-size: $font-size-xl;
  text-align: center;
}