.mh-agent-intro {
  margin-top: -48px;
  @include breakpoint(sm) {
    margin-top: -142px;
  }
  & > div {
    border-top: 5px solid $mh-color-primary;
    & > div {
      padding-left: 48px;
      padding-right: 48px;
    }
  }
}